@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/*--Cores: preto #11111f/ #ffffff branco / #e7e7e9 branco+ / #b8b8bc cinza claro / #707079 cinza escuro--*/
 
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}


/* CABEÇALHO */

header {
    font-family: 'Rajdhani', sans-serif;
    background-color: #343440;
    height: 8%;
    position: fixed;
    width: 100%;
}

#logo {
    height: 8vh;
    padding-left: 10%;
}

.buttons1 {
    text-decoration: none;
    color: white;
    
}




/* MAIN */

main {
    font-family: 'Reem Kufi Fun', sans-serif;    
}

